*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.titlecontainer {
    display: flex;
    margin-right: 50px;
    align-items: center;
    gap: 10px;

}

.topbar {
    display: flex;
    background-color: #1a2336;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    font-size: 10px;
    justify-content: space-between;
    color: white;
}

.headerlogo {
    color: white;
    font-size: 45px;
    margin-left: 25px;

}

.firstcontent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 90px;
        
}

.suckmydick {
    display: flex;
    font-size: 20px;
    color: aliceblue;
    background-color: #1a2336;
    height: 150px;
    width: 500px;
    margin-top: 35px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
}

.firstparagraph {
    width: 80%

}


#firstmain {
    display: flex;
    background-color: #5f1632;
    padding-bottom: 100px;
    width: 100%;
    
        
}
#signup {
    width: 15%;
    border: 10px;
    border-color: rgb(209, 25, 86);
    border-radius: 15%;
    background-color: #1a2336;
    padding: 12px;
    color: white;
}

#signup:hover {
    background-color: #331320;
}

.test {
    display: flex;
    

}

.titlelink:hover {
    color: #1a2336
}

