*{
    margin: 0;
    padding: 0;
}

.titlelink {
    
    padding: 10px;

}

.topbar {
    display: flex;
    background-color: rgb(61, 56, 47);
    width: 100%;
    padding-left: 25px;
    gap: 10px;
    font-size: 10px;
}

.headerlogo {
    color: white;
    font-size: 36px;
    font-family: sans-serif
    
}

