*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.titlecontainer {
    display: flex;
    margin-right: 50px;
    align-items: center;
    gap: 10px;

}

.topbar {
    display: flex;
    background-color: #1a2336;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    font-size: 10px;
    justify-content: space-between;
    color: white;
}

.headerlogo {
    color: white;
    font-size: 45px;
    margin-left: 25px;

}

.firstcontent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 90px;
        
}

.imageboxtop {
    display: flex;
    font-size: 20px;
    color: aliceblue;
    background-color: #1a2336;
    height: 150px;
    width: 500px;
    margin-top: 35px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.firstparagraph {
    width: 80%

}


#firstmain {
    display: flex;
    background-color: #5f1632;
    padding-bottom: 100px;
    width: 100%;
    
        
}
#signup {
    width: 100px;
    height: 50px;
    font-size: 16px;
    border: 10px;
    border-color: rgb(209, 25, 86);
    border-radius: 15%;
    background-color: #1a2336;
    padding: 12px;
    color: white;
}

#signup:hover {
    background-color: #331320;
}

.test {
    display: flex;
    

}

.titlelink:hover {
    color: #3074ce
}

#secondmain {
    display: flex;
    padding-left: 25px;
    justify-content: center;
    gap: 80px;
    padding-bottom: 60px;
    padding-top: 


}

.subtextbox1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    gap: 1px;
}

.subtexttext {
    text-align: center;

}

.testbutton {
    height: 100px;
    width: 100px;

}

.secondcontenttitle {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px

}

#quotemain {
    display: flex;
    background-color: rgb(185, 185, 185);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: column;
    
}

#quotetext {
    width: 60%;
    font-size: 25px;
    font-weight: lighter;

}

#quotename {

    padding-top: 20px;
    padding-left: 400px;


}

#signupbarcontainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    

}

#signupbar {
    display: flex;
    background-color: rgb(75, 75, 194);
    width: 800px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 150px;

}

#copyrightbar {
    background-color: gray;
    text-align: center;
    padding: 20px;


}